@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 24 14% 10%;
    --foreground: 270 25% 68%;
    --card: 24 14% 10%;
    --card-foreground: 270 25% 68%;
    --popover: 24 14% 10%;
    --popover-foreground: 270 25% 68%;
    --primary: 258 23% 36%;
    --primary-foreground: 240 5% 85%;
    --secondary: 262 15% 68%;
    --secondary-foreground: 258 23% 36%;
    --muted: 262 15% 68%;
    --muted-foreground: 258 9% 58%;
    --accent: 262 15% 68%;
    --accent-foreground: 258 23% 36%;
    --destructive: 0 84.2% 60.2%; /* unchanged */
    --destructive-foreground: 210 20% 98%; /* unchanged */
    --border: 260 13% 70%;
    --input: 260 13% 70%;
    --ring: 270 25% 68%;
    --radius: 0.5rem;
    --chart-1: 270 50% 30%;
    --chart-2: 250 15% 50%;
    --chart-3: 250 10% 40%;
    --chart-4: 250 10% 60%;
    --chart-5: 250 10% 80%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
  background: transparent;
  border-radius: 20px;
}


